.navigator .nav-title {
    display: block;
    font-family: 'Baloo Bhai', cursive;
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 4px 4px 4px #bbbbbb;
    text-align: left;
    border-bottom: 1px dotted darkgrey;
    padding: 10px 0 0 20px;
}

.navigator .nav-subtitle {
    display: block;
    font-weight: lighter;
    font-size: small;
    font-style: italic;
}

.navigator ul li {
    list-style: none;
    text-align: left;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: small;
}