.App {
  text-align: center;
}

.App-header {
  background-color: #363636;
  color: white;
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.App-logo {
  height: 3vh;
  pointer-events: none;
}
.App-title {
  font-family: 'Baloo Bhai', cursive;
  padding: 0 10px;
  font-size: calc(18px + 1vmin);
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  color: #6d6d6d;
  opacity: 0.8;
}
.App-main {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.App-main > nav {
  flex: 0 0 20vw;
  background: #e2e2e2;
}
.App-main > aside {
  width: 0;
}
.App-main > nav {
  order: -1;
}
.App-main article {
  min-height: 95vh;
  display: inline;
  flex: 1;
}
footer {
  background: whitesmoke;
  height: 2vh;
}
header, footer, article, nav, aside {
  padding: .1em;
}

.App-link {
  color: #61dafb;
}